body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column {
	display: flex;
	flex-flow: column wrap;
}
.right {
    margin-left: auto;
    margin-right: 10px;
}

.pointer {cursor: pointer;}

#footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
	background-color: #f5f5f5; 
	clear:both;
}

#sidebar {
	overflow:auto;
	padding-bottom:100px;
	height: 100vh;
}

.my-mt-5 {
	margin-top: 5.5rem!important;
}